<h1 style="text-align: center;">Demonstrating Life Cycle Hooks in Angular</h1>
<div style="text-align: center;">
<button (click)="increment()" *ngIf = 'isVisible'>Increment</button>
<app-child *ngIf = 'isVisible' [myNumber] = 'counter' [userName]='userName'></app-child>
<button (click)="decrement()" *ngIf = 'isVisible'>Decrement</button><br><br>
<button (click)="changeName()" *ngIf = 'isVisible'>Change Name</button><br><br><br>
<button (click)="switchVisibility()" *ngIf = 'isVisible'>Destroy Child Component</button>
<button (click)="switchVisibility()" *ngIf = '!isVisible'>Show Child Component</button>
</div>
